section.blue {
	background-color: #00AEC3;
	padding: 70px 0;
	color: #fff;
}

section.blue h1 {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
}

section.white {
	padding: 30px 0;
	background-color: #fff;
	color: #38434C;
}

section.green {
	background-color: #38434C;
	color: #fff;
}

section.green .filter {
	background-color: #1A2228;
	padding: 10px;
}

section.grid {
	overflow: hidden;
}

section.grid .col-sm-3 {
	padding: 0;
}

.square {
	position: relative;
	padding: 20px;
	color: #fff;
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	cursor: pointer;
	width: 25%;
	float: left;
}

.square .height {
	margin-top: 100%;
}

.square .content {
	padding: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding-bottom: 55px;
}

.square h1 {
	margin: 0;
	font-size: 32px;
}

.square .tag {
	background-color: #fff;
	padding: 5px 10px;
	width: 100%;
	margin: 5px 0;
}

.square ul {
	padding-left: 15px;
	list-style: square;
}

.square .read_more {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.square .read_more a {
	background-color: #fff;
	padding: 7px 10px;
	text-align: center;
}

.square .read_more:after {
	content: '';
	position: absolute;
	right: -4px;
	bottom: -10px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	width: 15px;
	height: 15px;
}

.square .read_more:before {
	content: '';
	position: absolute;
	right: -9px;
	bottom: -15px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	width: 15px;
	height: 15px;
}

.square.line-1 {
	background-color: #324B99;
}

.square.line-1 .tag,
.square.line-1 .read_more a,
.square.line-1 .apply {
	color: #324B99;
}

.square.line-2 {
	background-color: #0082C5;
}

.square.line-2 .tag,
.square.line-2 .read_more a,
.square.line-2 .apply {
	color: #0082C5;
}

.square.line-3 {
	background-color: #0098D8;
}

.square.line-3 .tag,
.square.line-3 .read_more a,
.square.line-3 .apply {
	color: #0098D8;
}

.square.line-4 {
	background-color: #009FB9;
}

.square.line-4 .tag,
.square.line-4 .read_more a,
.square.line-4 .apply {
	color: #009FB9;
}

.square.line-5 {
	background-color: #009D47;
}

.square.line-5 .tag,
.square.line-5 .read_more a,
.square.line-5 .apply {
	color: #009D47;
}

.square.line-6 {
	background-color: #6CB143;
}

.square.line-6 .tag,
.square.line-6 .read_more a,
.square.line-6 .apply {
	color: #6CB143;
}

.square.line-7 {
	background-color: #BCCE2E;
}

.square.line-7 .tag,
.square.line-7 .read_more a,
.square.line-7 .apply {
	color: #BCCE2E;
}

.square.line-8 {
	background-color: #DEC031;
}

.square.line-8 .tag,
.square.line-8 .read_more a,
.square.line-8 .apply {
	color: #DEC031;
}

.square.line-9 {
	background-color: #F5B60D;
}

.square.line-9 .tag,
.square.line-9 .read_more a,
.square.line-9 .apply {
	color: #F5B60D;
}

.square.line-10 {
	background-color: #ED8B21;
}

.square.line-10 .tag,
.square.line-10 .read_more a,
.square.line-10 .apply {
	color: #ED8B21;
}

.square.line-11 {
	background-color: #E45334;
}

.square.line-11 .tag,
.square.line-11 .read_more a,
.square.line-11 .apply {
	color: #E45334;
}

.square.line-12 {
	background-color: #E24640;
}

.square.line-12 .tag,
.square.line-12 .read_more a,
.square.line-12 .apply {
	color: #E24640;
}

.square .more_info {
	visibility: hidden;
}

.square.open {
	width: 50%;
	z-index: 2;
	margin-bottom: -205%;
	margin-right: -25%;
}

.square.open:nth-child(4),
.square.open:nth-child(8),
.square.open:nth-child(12) {
	margin-left: -25%;
}

.square.open:nth-child(5),
.square.open:nth-child(6),
.square.open:nth-child(7),
.square.open:nth-child(8) {
	margin-top: -25%;
}

.square.open:nth-child(9),
.square.open:nth-child(10),
.square.open:nth-child(11),
.square.open:nth-child(12) {
	margin-top: -50%;
}

.square.next {
	margin-left: 25%;
	transition: margin-left 0.5s;
	-moz-transition: margin-left 0.5s;
	-webkit-transition: margin-left 0.5s;
}

.square.next:nth-child(5),
.square.next:nth-child(9) {
	margin-left: 0.1px;
}

.square:nth-child(8),
.square:nth-child(12) {
	margin-left: -0.1px;
}

.square.open .height {
	margin-top: 155%;
}

.square.open .read_more {
	display: none;
}

.square.open .more_info {
	visibility: visible;
}

.apply {
	background-color: #fff;
	text-align: center;
	padding: 15px;
	font-size: 24px;
	display: block;
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	bottom: 30px;
}

.square-close {
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	z-index: 99;
}

.square-close span {
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 8px;
	right: 8px;
}